<!-- include header on page -->
<%- include("header") -%> 

<h2>This is the about page.</h2>

<p>bcbhn  bbzbsefg ngm hklbbn vvbcn vgnfngbhn gv z xsdr 5 srs b rbbxGHHNEHGNVDVGJFHB GHHGNNBbbnr bb vxbvcx</p>

<!-- include footer on page -->
<%- include("footer") -%>
